<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to my website!</h1>
            <p>This is a sample site I built as my first rails project. It is a site where users can record the books they have read, books they want to read and add reviews. Users will be able to view other learner Profiles and book reviews and suggest new books.</p>
            <%= link_to "Learn more »", "#", class: "btn btn-success btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>My journey so far ...</h2>
                <p>These are some of the interesting books that I have read in the past few days. Also includes books that I am currently reading.</p>
                <p><%= link_to "View details", "#", class: "btn btn-link" %></p>
            </div>
        <div class="col-md-4">
            <h2>Reflections ...</h2>
            <p>A few thoughts, some lessons to share as I move along my journey. Click here to know more about my adventures ... </p>
            <p><%= link_to "View details", "#", class: "btn btn-link" %></p>
        </div>
        <div class="col-md-4">
            <h2>Path Ahead ...</h2>
            <p> My wish list, books that I want to read. Hope you can help me find my next my next interesting read!  </p>
            <p><%= link_to "View details", "#", class: "btn btn-link" %></p>
        </div>
    </div>
 <% end %>

