<h1>Welcome to my website.</h1>
<p>Sign up here.</p>
<p>This website allows you to create small notes and save them. You can user it to create todo lists, take small notes, save phone numbers, contacts and websites</p>
